# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# OS files
.DS_Store

# Editor directories
.idea/
.vscode/

# Node modules for frontend
frontend/node_modules/

# Local environment files
.env
